{
    "rules": {
        "no-restricted-imports": [
            "error",
            {
                "paths": [
                    {
                        "name": "dayjs",
                        "message": "Use @/dayjs/dayjs instead so plugins are always applied."
                    }
                ]
            }
        ]
    }
}
